{% extends "navbar.html" %}

{% block title %}Settings{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/settings.css') }}">
{% endblock %}

{% block content %}
<div class="container">
<div class="settings-layout">
    {% include "settings/settings_nav.html" %}

    <div class="settings-content">
        <h1>Profile</h1>
        <div class="profile-content">
            <div class="spotify-details">
                <img class="profile-image" src="{{ session['profile_image'] }}" width="150" height="150">
                <h3>{{ session['display_name'] }}</h3>
            </div>
            <div class="custom-details">
                <form action="/settings/profile" method="post">
                    <input type="hidden" name="submit_action" value="update_details">
                    <label for="custom-url">Custom url</label><br>
                    <input class="text-box" type="text" id="custom-url" name="custom-url" maxlength="30" value="{{ custom_url }}"><br><br>
                    
                    <label for="bio">Bio</label><br>
                    <textarea class="text-box" type="text" id="bio" name="bio" rows="8" cols="100" maxlength="512">{{ bio }}</textarea><br><br>

                    <button class="green-button">Apply</button>
                </form>
                <br><hr><br>
                <p>Warning: you cannot restore your account.</p>
                <form action="/settings/profile" method="post">
                    <input type="hidden" name="submit_action" value="delete_account">
                    <button class="danger-button">Delete account</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}