{% extends "navbar.html" %}
{% block content %}

<html lang="en">
<head>
    <title>Your Albums</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stats.css') }}">
</head>

<body>
    <div class="container">
        <h1 class="title-text">Your Albums</h1>
        <header class="overview-container">
            <div>{{overview_section}}</div>
            <form class="sort-form" action="{{ request.path }}" method="get">
                <select
                    class="sort-selector"
                    name="sort-order"
                    id="sort-order"
                    onchange="this.form.submit()"
                >
                
                <option value="date-released"
                    {% if request.args.get('sort-order') == 'date-released' %}selected{% endif %}>
                    Release Date
                </option>

                <option value="date-completed"
                    {% if request.args.get('sort-order') == 'date-completed' %}selected{% endif %}>
                    Completion Date
                </option>
                </select>

                <select
                    class="sort-selector"
                    name="group-by"
                    id="group-by"
                    onchange="this.form.submit()"
                >
                
                <option value="decade"
                    {% if request.args.get('group-by') == 'decade' %}selected{% endif %}>
                    Decade
                </option>

                <option value="year"
                    {% if request.args.get('group-by') == 'year' %}selected{% endif %}>
                    Year
                </option>

                <option value="month"
                    {% if request.args.get('group-by') == 'month' %}selected{% endif %}>
                    Month
                </option>

                <option value="day"
                    {% if request.args.get('group-by') == 'day' %}selected{% endif %}>
                    Day
                </option>

                </select>
            </form>
        </header>

        <div>{{album_sections}}</div>

    </div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        console.log(content);
        if (content.style.maxHeight){
            content.style.maxHeight = null;
        } else {
            content.style.maxHeight = content.scrollHeight + "px";
        }
    });
}
</script>

</body>
</html>
{% endblock %}